<div class="grid">
    <div class="col-4">
        <mat-card>
            <!-- HEADER -->
            <mat-card-header>
                <mat-card-title>
                    Alumnos <mat-icon>account_circle</mat-icon>
                </mat-card-title>
            </mat-card-header>

            <!-- CONTENIDO  -->
            <mat-card-content>
                <p style="font-size: 2rem;"> 20</p>
            </mat-card-content>

        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <!-- HEADER -->
            <mat-card-header>
                <mat-card-title>
                    Profesores <mat-icon>supervisor_account</mat-icon>
                </mat-card-title>
            </mat-card-header>

            <!-- CONTENIDO  -->
            <mat-card-content>
                <p style="font-size: 2rem;"> 20</p>
            </mat-card-content>

        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <!-- HEADER -->
            <mat-card-header>
                <mat-card-title>
                    Cursos <mat-icon>smart_display</mat-icon>
                </mat-card-title>
            </mat-card-header>

            <!-- CONTENIDO  -->
            <mat-card-content>
                <p style="font-size: 2rem;"> 20</p>
            </mat-card-content>

        </mat-card>
    </div>


</div>