<h1 mat-dialog-title>{{ editingUser? "Editando a " + editingUser.name + " " + editingUser.surname : "Creando usuario" }}
</h1>
<div mat-dialog-content>
    <form [formGroup]="userForm" class="grid">

        <!-- CAMPO DE NOMBRE -->
        <div class="col-6 field">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input formControlName="name" matInput type="text" name="name">
                <!-- ERRORES -->

                <mat-error *ngFor="let error of nameControl.errors | keyvalue">
                    {{ error | controlErrorMessage }}
                </mat-error>

            </mat-form-field>
        </div>

        <!-- CAMPO DE APELLIDO -->
        <div class="col-6 field">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Apellido</mat-label>
                <input formControlName="surname" matInput type="text" name="surname">
                <mat-error *ngFor="let error of surnameControl.errors | keyvalue">
                    {{ error | controlErrorMessage }}
                </mat-error>
            </mat-form-field>
        </div>

        <!-- CAMPO DE EMAIL -->
        <div class="col-12 field">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email" name="email">
                <mat-error *ngFor="let error of emailControl.errors | keyvalue">
                    {{ error | controlErrorMessage }}
                </mat-error>
            </mat-form-field>
        </div>

        <!-- CAMPO DE CONTRASEÑA -->
        <div class="col-12 field">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input formControlName="password" matInput type="password" name="password">
                <mat-error *ngFor="let error of passwordControl.errors | keyvalue">
                    {{ error | controlErrorMessage }}
                </mat-error>
            </mat-form-field>
        </div>

    </form>


</div>

<div class="flex justify-content-end" mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button (click)="onSubmit()" type="submit" mat-button>Guardar</button>
</div>