<div class="mb-5">
    <button (click)="onCreateUser()" mat-flat-button color="primary" type="button">
        <mat-icon>add</mat-icon>
        Crear usuario
    </button>
</div>
<h1 appAgrandado="20px"> Lista de usuarios: </h1>

<div *ngIf="isLoading$ | async; else notLoadingTemplate"> Cargando datos...</div>

<ng-template #notLoadingTemplate>
    <app-users-table [dataSource]="( users | async) || []" (deleteUser)="onDeleteUser($event)"
        (editUser)="onEditUser($event)"></app-users-table>
</ng-template>